.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln



/.pnp
.pnp.js

# testing
/coverage

# production
/React/build
/Angular/dist
/Vue/dist
/TestingTool/benchmarks

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local


yarn-debug.log*
debug.log

#Angular

# compiled output

Angular/tmp
Angular/out-tsc
# Only exists if Bazel was run
Angular/bazel-out


# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
Angular/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
Angular/.sass-cache
Angular/connect.lock
Angular/coverage
Angular/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
Angular/typings

# System Files
.DS_Store
Thumbs.db

